$navbar-default-bg: #c9ced6;

@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    background-image: asset-url("cover_page_6.jpg");
    background-size: cover;
    height: 550px;
}

.center.jumbotron h1 {
    font-family: 'Lato', sans-serif;
    font-size: 9.5em;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 12%;
    padding-bottom: 17px;
}

.center {
    text-align: center;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.btn-xlarge {
    font-size: 1.7em;
    color: #ddd;
    background-color: #3A749D;
    border: none;
    -webkit-box-shadow: -1px 20px 28px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 20px 28px -1px rgba(0,0,0,0.47);
    box-shadow: -1px 20px 28px -1px rgba(0,0,0,0.47);
    margin-right: 15px;
}

.article-actions {
    border-top: 1px solid #b6bdc8;
    padding-top: 15px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

.article-body {
    border-top: 1px solid #dadada;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Roboto Slab', serif;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 2px solid #b6bdc8;
    color: #777;
    background-color: #b6bdc8;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-right: 15px;
    color: #fff;
}

#logo {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 2.1em;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#logo:hover {
    color: #6fa8dc;
    text-decoration: none;
}

a#logo.navbar-brand {
    font-weight: 300;
}