$navbar-default-bg: rgb(2, 23, 26);

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
    overflow-x: hidden;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.txt {
    font-family: 'Lato', serif;
    margin-bottom: 25px;
}

.navbar-custom {
    background-color: rgb(2, 23, 26);
    border-radius: 0;
}

nav a:hover {
    color: #6fa8dc;
}

.jumbotron {
    background-image: asset-url("cover_page_6.jpg");
    background-size: cover;
    height: 550px;
}

.center.jumbotron h1 {
    font-family: 'Lato', sans-serif;
    font-size: 9.5em;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 12%;
    padding-bottom: 17px;
}

.center {
    text-align: center;
}

h2.center {
    margin-bottom: 25px;
    font-family: 'Roboto Slab', serif;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.btn-xlarge {
    font-size: 1.7em;
    color: #ddd;
    background-color: #3A749D;
    border: none;
    -webkit-box-shadow: -1px 20px 28px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 20px 28px -1px rgba(0,0,0,0.47);
    box-shadow: -1px 20px 28px -1px rgba(0,0,0,0.47);
    margin-right: 15px;
}

.article-actions {
    border-top: 1px solid #b6bdc8;
    padding-top: 15px;
    text-align: center;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Roboto Slab', sans-serif;
}

.article-body {
    border-top: 1px solid #dadada;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Lato', serif;
}

.black {
    color: #111;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 2px solid #b6bdc8;
    color: #ddd;
    background-color: rgb(2, 23, 26);
}

footer a {
    color: #ddd;
}

.links a:hover {
    color: #6fa8dc;
    text-decoration: none;
}

footer small {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-right: 15px;
    color: #ddd;
}

#logo {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 2.1em;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#logo:hover {
    color: #6fa8dc;
    text-decoration: none;
}

a#logo.navbar-brand {
    font-weight: 300;
    margin-left: 10px;
}

.navbar-custom .navbar-nav li a {
    color: #ddd;
    font-family: 'Lato', sans-serif;
}

.navbar-custom .navbar-nav li a.black {
    color: #111;
}

.navbar-custom .navbar-nav li a:hover {
    color: #6fa8dc;
}